---

---

<section class="relative w-full">
    <div class="absolute bottom-0 left-0 w-full h-1/2"></div>
    <div class="relative py-20 mx-auto ">
        <div class="relative flex flex-col items-center w-full h-full px-10  bg-purple-900 sm:px-12 md:px-16 lg:py-10 rounded-2xl">
            <div class="absolute inset-0 bg-cover" style="background-image:url('/assets/ctashape.svg')"></div>
            <div class="relative flex flex-col items-center justify-between w-full h-full lg:flex-row">
                <h2 class="max-w-lg pt-0 mt-5 mb-5 text-2xl font-semibold text-center  text-white md:leading-tight lg:mb-0 lg:text-left md:text-4xl sm:text-3xl">Start your next project with Hayden Tomas today.</h2>
                <div class="flex flex-col h-auto transform translate-y-2">
                    <a href="#_" class="inline-flex items-start h-auto px-8 py-4  text-center rounded-lg btn bg-white text-slate-900 font-bold">Contact me for a free quote</a>
                    <p class="w-full mt-3 text-sm text-center text-white">All Websites start at only £5000 with an <br />option to pay in 3 installments interest free</p>
                </div>
            </div>
        </div>
    </div>
</section>